.inputCardContainer{
    background-color: rgb(242, 240, 240);
    margin-bottom: 5px;
    color: black;
    border-radius: 5px;
    border:  solid 1px black;
}
.inputCardHeader{
    height: 50px;
    border-radius: 5px;
    background-color: rgb(200, 229, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.inputCardHeader p{
    cursor: pointer;
}


.icon{
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 20px;
}
.icon :hover{
    color: #1097c0;
}