.button {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.button:hover {
  color: #1ad1b9;
  border-bottom: solid 2px #1ad1b9;
  border-radius: 30px;
  font-size: 17px;
}

.button span {
  margin: 0 0.5rem;
}

.activeButton{
  color: #1ad1b9;
  border-bottom: solid 2px #1ad1b9;
  border-radius: 30px;
  font-size: 17px;
}
