.div {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(242, 240, 240);
    color: black;
    padding: 30px;
    border-radius: 5px;
  }
.div p{
    margin: 0px;
    padding: 0px;
}
.div h3{
    margin: 0px;
    padding: 0px;
}


.profileNameContainer{
    display: flex;
    align-items: center;
    margin-top: 0px;
}  
.profile{
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.profileNameContainer div{
    margin-left: 10px;
}

