.div{
    display: flex;
    justify-content: space-between;
}
.profileNameContainer{
    display: flex;
    align-items: center;
    margin-top: 0px;
}  
.profile{
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.profileNameContainer div{
    margin-left: 10px;
}
.details h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.introduction{
    margin-top: 10px;
}